{extend name='layout'}
{block name='css'}
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
{/block}
{block name='nav'}{/block}
{block name='content'}
<div class="login-wrapper">
    <div class="row login-form">
        <div class="col-xs-12 logo text-xs-center">
            <h2>CanWong</h2>
        </div>
        <div class="col-xs-12">
            <form id="login-form" method="post">
                <fieldset class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                        <input type="text" name="username" class="form-control" placeholder="账号">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                        <input type="password" name="password" class="form-control" placeholder="密码">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-qrcode fa-fw"></i></div>
                        <input type="text" name="vcode" class="form-control" placeholder="验证码">
                        <div class="input-group-addon captchaimg">
                            <img id="captcha_img" onclick="this.src='{:captcha_src()}?d='+Math.random();" alt="点击更换" title="点击更换" src="{:captcha_src()}" class="img-responsive">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <a href="javascript:void(0)" class="btn btn-success btn-block submit">登录</a>
                </fieldset>
            </form>
        </div>
        <div class="copyright">
            <p class="text-xs-center">copyright @ CanWong</p>
        </div>
    </div>
</div>
{/block}
{block name='js'}
<script type="text/javascript">
    $('.submit').click(function(){
        //前端验证
        //Ajax提交
        $.ajax({
            url:'#',
            data:$('#login-form').serialize(),
            type:'post',
            success:function(data){
                if (data.code) {
                    alert(data.msg);
                    setTimeout(function(){
                        window.location.href = data.url;
                    },data.wait*500);
                }
                else {
                    alert(data.msg);
                }
            }
        })
    })
</script>
{/block}
