<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CanWong's Blog</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrapv4.css">
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
</head>
<body>
	{block name='nav'}
	<nav class="navbar nav-dark">
		<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar">
	    	<i class="fa fa-bars"></i>
		</button>
		<ul class="nav navbar-nav pull-right">
			<li class="nav nav-item"><a href="" class="nav nav-link">Navbar1</a></li>
			<li class="nav nav-item"><a href="" class="nav nav-link">Navbar2</a></li>
			<li class="nav nav-item"><a href="" class="nav nav-link">Navbar3</a></li>
		</ul>
	</nav>
	{/block}
	{block name='banner'}{/block}
	{block name='body'}{/block}
	{block name='footer'}{/block}
</body>
</html>